# Data Science Tools and Ecosystem

 **In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives**

 1. Creating a markdown cell
 2. Creating a code cell
 3. Headings
 4. Arithmetic Expressions
 5. Jupyter Notebooks

Some of the popular languages that Data Scientists use are:

    1.Python
    2.R
    3.SQL
    4.Java

## Data Science Tools


| Data Science Tools|
| --- |
| Jupyter | 
| RStudio |
|Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [10]:
200/60

3.3333333333333335

## Author

Muneni Marowa